/* Reset box-sizing and some defaults 

*,
*::before,
*::after {
  box-sizing: border-box;
}

*/

.landing-Page{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.hero-image{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}
.stepper-section{
    padding: 50px 20px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.image-list-section{
    padding: 40px 20px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    width: 100%;
}

.thor-image-section {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0%;
    padding-top: 3px;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px #609cda);
}

.lightning-section {
    width: 100%;
    height: 600px;
    position: relative;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thor-text {
    position: absolute;
    right: 10%;
    color: var(--text-color);
    text-align: right;
    z-index: 10;
}

.thor-text h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.1em;
    text-shadow: 0 0 20px #2630f0cc;
}

.thor-text h2 {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.15em;
    background: linear-gradient(45deg,  #d71406, #c23c03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.thor-text p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    opacity: 0.9;
    text-shadow: #2630f0cc;

}


.timeline-section{
    padding: 40px 20px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    position: relative;
    z-index: 2;
}