.parallax-wrapper {
  width: 100vw;              /* full viewport width */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;        /* escape parent width */
  margin-right: -50vw;
  overflow: hidden;
}

.parallax {
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  flex-wrap: nowrap;
  font-size: 40px;  
  font-weight: 200;
  text-transform: uppercase;
}
.first-marquee .scroller {
  color: var(--accent-color);
  padding: 0%;
  margin: 0%;
}
.second-marquee .scroller {
  color: var(--text-color);
}


.parallax span {
  margin-right: 40px;
}
